@import url(/css/null.css);
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
body {
    font-family: Montserrat;
    font-size: 14px;
    color: rgba(37, 43, 66, 1);
    font-weight: 500;
}

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
		&__container {
            display: flex;
            align-items: center;
            min-height: 104px;
		}
		&__logo {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.1px;
            color: rgba(37, 43, 66, 1);
            line-height: 32px;
		}
		&__menu {
            margin: 0 0 0 133px;
            padding: 5px 0;
            @media (max-width: 992px) {
                margin: 0 0 0 80px;
            }
            @media (max-width: 767px) {
                margin: 0 0 0 50px;
            }
            @media (max-width: 470px) {
                margin: 0 0 0 20px;
            }
		}
        
}

.menu {

		&__list {
            display: flex;
            flex-wrap: wrap;
            
		}

		&__item {
		}
        &__item:not(:last-child) {
            margin: 0 21px 0 0;
        }

		&__link {
            font-weight: 600;
            line-height: 171%;
            letter-spacing: 0.2px;
            color: rgba(115, 115, 115, 1);
            @media (max-width: 470px) {
                font-size: 18px;
            }
		}
}
.footer {

}
.page {
flex: 1 1 auto;

    &__main-block {
    }
}
.main-block {

    &__container {
        
    }
    &__body {
        max-width: 509px;
        margin: 184px 0 191px 0;
    }
    &__title {
        font-size: 58px;
        letter-spacing: 0.2px;
        line-height: 80px;
        font-weight: 800;
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: rgba(115, 115, 115, 1);
        margin: 35px 0;
    }
    &__buttons {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 28px;
        height: 48px;
    }
    &__button {
        background-color: rgba(255, 123, 71, 1);
        color: white;
        border-radius: 37px;
        padding: 10px 36px;

        
    }
    &__button_border {
        margin-left: 10px;
        color: rgba(13, 92, 99, 1);
        border-color: rgba(13, 92, 99, 1);
        border: solid 1px;
        background-color: transparent;
    }
}


